{% extends "base.html.twig" %}
{% block title %} Clases de Productos {% endblock %}

{% block body %}

<h1>Clases de Productos</h1>
	<table border="1">
		<tr>
			<th>#</th>
			<th>Nombre</th>
  		<th>Editar</th>
		</tr>
	
		{% for claseProducto in claseProductos %}
			<tr>
				<td> {{ loop.index }}</td>
  				<td>{{ claseProducto.nombre }}</td>
  				<td> 			
  					<a href="{{ path('sm_admin_clase_producto_edit', { 'id': claseProducto.id })}}">
  						editar
  					</a>
  				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}