{% extends "backend.html.twig" %}
{% block title %} Portada {% endblock %}
{% block activoPortada %} "activo" {% endblock %}

{% block contenido %}


<div class="row">

{% for incidente in incidentes  %}

  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default panel-incidente">
        <div class="panel-heading">
            <h3 class="panel-title">{{incidente.tipoIncidente}}</h3>
        </div>
        <div class="panel-body"> 
          <p> {{incidente.descripcion}} </p>
        </div>
      </div>
  </div>

{% endfor %}

</div>

{% endblock %}